/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES 
 */
 body {display: inline-block;width: 100%;}
.jarviswidget-ctrls .button-icon i,.widget-icon i{float: left;width: 100%;height: 100%;line-height: 30px;}	
.table{font-size:100%;}
#logo{margin-top:8px !important;}
#logout.btn-header a{width:auto !important;}
.btn-header > *:first-child > a{margin-top:5px !important;}
.dsp-block{display:inline-block;}
.btn-header a > span{height: 21px;line-height: 21px;}
 .btn-header.pull-right {margin-left: 4px !important;} /**/
.smart-style-5 .btn-header>:first-child>a i{ line-height:30px; float:left; width:auto; height:100%;}
.ui-spinner-down, .ui-spinner-up {background:rgba(255,255,255,.1) none repeat scroll 0 0 !important;border-radius: 0 !important;}
.ui-spinner-button {width: 30px !important;}
.smart-style-5 .ui-spinner{border-color: rgba(255,255,255,.4) !important;}
.ui-spinner-down::before, .ui-spinner-up::before{font-size: 11px !important;margin-top: 3px !important;}
.line-height32{line-height:32px !important;}
.pd-0{padding:0px !important;}
.ui-state-default{color:#fff !important;}
.form-horizontal .radio-btn{padding-left:35px;}
.prod-form{margin:30px 0;}
.m-t-20{margin-top:20px;}
nav ul li.active > a::before{content:"\f0d9" !important;}
.pd-0{padding:0px;}
.line-height18{line-height:18px;}
.btn-header .fa{line-height:1.5;}
.login{    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1); border-radius:5px; }

.login-brand{    background: rgba(255,255,255,0.8);
    padding: 25px 15px !important;
    margin-bottom: 2px !important;}
@media (min-width: 768px){
.modal.in.large .modal-dialog{width:80%;}
}

@media (max-width: 767px){
.modal.in.large .modal-dialog{width: 96%;margin: 10px 2%;}
}


@media (max-width: 992px){
.smart-style-4 #mobile-profile-img{display:block !important;}
}

@media (min-width:1400px){

.login{max-width: 74%; margin: 0 13%;}

}
/* 
.smart-style-4 #header{background:#71a06a !important;}
.smart-style-4 .menu-on-top aside#left-panel{
    border-bottom: 1px solid #71a06a !important;
    border-top: 1px solid #71a06a !important;}
.smart-style-4 aside{background:#fff !important;}
.smart-style-4.menu-on-top aside#left-panel nav > ul > li {
    border-left: 1px solid #71a06a !important;
    border-right: 1px solid #71a06a !important;}
.smart-style-4 nav ul .active > a,.smart-style-4 nav ul li a {
    color: #71a06a!important;}
.smart-style-4.menu-on-top aside#left-panel nav > ul > li > a{color: #71a06a!important;}
.smart-style-4.fixed-navigation #left-panel{border-right: 1px solid #71a06a !important;}

.smart-style-4:not(.menu-on-top) nav ul li.active:not(.open)>a:before, .smart-style-4:not(.menu-on-top) nav>ul>li.active:not(.open)>a:before{color:#71a06a !important;border-left: 0px !important; left:auto !important; right:0px !important; width:auto;top: 11px!important; }
.smart-style-4 nav>ul>li>a{   background:#fff;  border-bottom: 1px solid #71a06a !important;}
	
.smart-style-4 .page-footer {border-top: 1px solid #71a06a !important;
    background: #fff !important; color: #738e6f !important;}
.smart-style-4 .page-footer span.txt-color-white { color: #738e6f !important;}
	
.smart-style-2.menu-on-top aside#left-panel{background:#fff;}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{    background-color: #71a06a;
    border-color: #71a06a;}
.smart-style-4 nav ul li.open>a ,.smart-style-4:not(.menu-on-top) nav ul li a:hover , .smart-style-4 nav ul ul{background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#fff),color-stop(1,#cfcfcf)) !important;
    background: -ms-linear-gradient(bottom,#fff,#cfcfcf) !important;
    background: -moz-linear-gradient(center bottom,#fff 0,#cfcfcf 100%) !important;
    background: -o-linear-gradient(#cfcfcf,#fff) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ffffff', GradientType=0) !important; }
.smart-style-4 nav ul li.open>a, .smart-style-4 nav ul ul{border-bottom: 1px solid #71a06a !important;}
nav ul li.active.open > a::before{color:#71a06a;}
.smart-style-4 nav>ul>li>a b{top: 13px;}

.btn-lite{background-color: #96bf48;
    border-color: #84A83E;}
.smart-style-4 .jarviswidget-color-blueLight>header {
    border-color: #496949!important;
    background: #496949!important; color:#fff;}
	
.smart-style-4.minified nav > ul > li > ul{min-height:auto !important;}
.smart-style-4.minified nav > ul > li > ul > li{background:none;}
.smart-style-4.minified nav > ul > li > a > .menu-item-parent,.smart-style-4.minified nav > ul > li > ul{left:45px;}
*/
#mobile-profile-img.header-dropdown-list > li > .dropdown-toggle {
    -moz-user-select: none;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(center top , #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    color: #6d6a69;
    cursor: default !important;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    height: 30px;
    line-height: 24px;
    margin: 10px 0 0;
    min-width: 30px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;}
.smart-style-4 #mobile-profile-img>li{margin-top:5px;}
#mobile-profile-img a.userdropdown img{margin:0px !important;} 
.smart-style-4 .breadcrumb{background:#fff;}
.smart-style-4:not(.menu-on-top) nav ul li.active:not(.open)>a:before, .smart-style-4:not(.menu-on-top) nav>ul>li.active:not(.open)>a:before {
    height: 20px!important;
    top: 10px!important;
}
.smart-style-4 nav > ul > li > a{padding-left:20px !important;}
.smart-style-4.minified nav > ul > li > ul{min-height:auto !important;}
.smart-style-4.minified nav > ul > li > a > .menu-item-parent,.smart-style-4.minified nav > ul > li > ul{left:45px;}
.modal-open .modal{z-index:99999;}
